<%- include('../partials/header') %>

<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">All Recipes</h1>
  <div class="col-lg-6 mx-auto">
      <p class="lead">I grew up in the kitchen alongside my Ammu and conversations in my family are always about the next meal. I picked up their love for food along the way, and with this site,
        I share my food story with you.</p>
  </div>
</div>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <% recipes.forEach(function(r) { %>
      <div class="pt-1 fw-bold"><%= r.title %></div>
      <a class="col text-center category__link link-dark" href="/recipes/<%= r._id %>">Full Recipe</a>
  <% }); %>
  
</div>

    <!-- <table id="full">
      <tbody>
        <% recipes.forEach(function(r) { %>
          <tr>
            <td><%= r.title %></td>
            <td><a href="/recipes/<%= r._id %>">Full Recipe</a></td>
          </tr>
        <% }); %>
      </tbody>
    </table> -->
<%- include('../partials/footer') %>