<%- include('../partials/header') %>

<!-- displaying the recipe -->
    <div class="row">
        <div class="col-12 col-md 4 p-5">
            <img src="<%= recipe.image %>"  class="img-fluid sticky-top"  alt="<%= recipe.image %>" loading="lazy">
        </div>

        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-12"><h1><%= recipe.title %></h1></div>
                <div class="col-6 col-md-4 mb-4"> <i class="bi bi-clock"></i> <%= recipe.cookTime %></div>
                <div class="col-6 col-md-4 mb-4"> <i class="bi bi-clock"></i> <%= recipe.prepTime %></div>
                <div class="col-6 col-md-4 mb-4"> <i class="bi-people-fill"></i> <%= recipe.serving %></div>
                <div class="col-12" style="white-space: pre-line;">
                    <h4>Ingredients</h4>
                    <%= recipe.ingredient %>
                </div>
                <div class="col-12" style="white-space: pre-line;">
                    <h4>Directions</h4>
                    <%= recipe.direction %> 
                </div>
            </div>
        </div>
    </div>
<br>
<br>

<!-- edit button -->
<% if (user) { %>
<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a href="/recipes/<%= recipe._id %>/edit" class="btn btn-outline-success btn-sm">Edit Recipe</a>
</div>
<% } else { %>

    <% } %>


<!-- comments section -->
<div class="container pt-5">
    <div class="container">
        <% if (user) { %>
        <form id="add-comment-form" method="POST" action="/recipes/<%= recipe._id %>/comments">
        <label for='comments' id='comments'>COMMENT</label>
        <div class="form-group pt-2">
        <textarea  class="form-control" placeholder="Leave a comment here" rows="4" name="content"></textarea>
        </div>
        <br>
        <button class="btn rounded-2 btn-primary" type="submit">POST COMMENT</button>  
        </form>
        <% } else { %>
            <div>
                <span>Loved the recipe? Login and leave a comment below to let us know!</span>
            </div>
            <% } %>
    </div>
</div>

<!-- display comment -->
<div class="container pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <% if (recipe.comments.length) { %>
                    <% recipe.comments.forEach(function(c) { %>
                        <div class="col-12">
                            <p>
                                <strong> <%= c.userName %> </strong>
                                <br>
                                <%= c.content %>
                                <br>
                                <small class="fw-200"> <%= c.createdAt.toLocaleDateString() %></small>
                            </p>
                        </div>
                        <!-- delete comment -->
                        <div>
                            <% if (user && user._id.equals(c.user)) { %>
                            <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                            <button class="btn rounded-2 btn-outline-danger btn-sm" type="submit">DELETE</button>
                            </form>
                        </div>
                            <% } %>
                        <% }); %>
                    <% } else { %>
                        <h5>No Comments Yet</h5>
                    <% } %>
            </div>
        </div>
    </div>
</div>



<%- include('../partials/footer') %>